<div *ngIf="message !== ''" [ngClass]="(isError)?'alert-danger':'alert-success'" class="alert"
role="alert">
{{ message }}
</div>
<ng-container *ngIf="projects == null; else blockElse">
    <div class="alert alert-danger" role="alert">
        <strong>Aucun projet n'est créé pour le moment ..</strong>
      </div>
  </ng-container>
  <ng-template #blockElse>
    <div id="container">
        <table class="table">
            <thead>
              <tr>
                <th>Nom du projet</th>
                <th>Description</th>
                <th>Git</th>
                <th>Product Owner</th>
                <th>Backlog</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects">
                    <td>{{project.name}}</td>
                    <td>{{project.description}}</td>
                    <td>{{project.git}}</td>
                    <td>{{project.productOwner.lastname+' '+project.productOwner.firstname}}</td>
                    <td >
                     <button type="button" class="btn btn-outline-primary" (click)="getAccess(project.project_id)" id={{project.name}}><i class="fa fa-align-justify" aria-hidden="true"></i>Backlog {{project.name}}</button>
                    </td>
                </tr>
            </tbody>
          </table>
  </div>
  </ng-template>
