<div *ngIf="message !== ''" [ngClass]="(isError)?'alert-danger':'alert-success'" class="alert"
role="alert">
{{ message }}
</div>
<ng-container *ngIf="Backlog == null; else blockElse">
  <div class="alert alert-danger" role="alert">
      <strong>Aucune issue n'est créée pour le moment ..</strong>
    </div>
</ng-container>
<ng-template #blockElse>
<div id="container">
    <h1>Modifier une issue</h1>
     <form [formGroup]="UpdateIssueForm" (ngSubmit)="UpdateIssue()">
      <div class="form-group form-control-sm">
        <label for="idIssue">Issue ID</label>
        <select class="form-control form-control-sm" id="idIssue" (change)="onChange($event)" formControlName="issue_id">
          <option selected *ngFor="let issue of Backlog" [ngValue]="issue.issue_id">{{issue.issue_id}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="story">Story</label>
        <textarea [(ngModel)]="story" [ngClass]="{'is-invalid': (UpdateIssueForm.controls['story'].invalid && UpdateIssueForm.controls['story'].touched)}"
               formControlName="story" type="text" class="form-control" id="story" placeholder="story" rows="2" maxlength="50"></textarea>
        <div class="invalid-feedback">
          Veuillez renseigner votre story.
        </div>
      </div>
    <div class="form-group">
        <label for="priority">Priorité</label>
        <input  formControlName="priority"  type="number" class="form-control" id="priority" [(ngModel)]="priority"  min="1">
      </div>
      <div class="form-group">
          <label for="difficulty">Difficulté</label>
          <input  formControlName="difficulty" type="number" class="form-control" id="difficulty" [(ngModel)]="difficulty"  min="1">
        </div>
        <div class="form-group form-control-sm">
          <label for="state">Status</label>
          <select class="form-control form-control-sm" id="state" formControlName="state" [(ngModel)]="stateOption">
            <option selected>DONE</option>
            <option>TODO</option>
          </select>
        </div>
              <button [disabled]="UpdateIssueForm.invalid" type="submit" class="btn btn-primary" id="modif">Modifier</button>
      </form>
 </div>
 </ng-template>
 
