<title>DDF - Nouveau projet</title>
<div class="container mt-5" id="container">
  <h1>Créer un nouveau projet</h1>
  <div *ngIf="message !== ''" [ngClass]="(isError)?'alert-danger':'alert-success'" class="alert"
  role="alert">
{{ message }}
</div>
  <form [formGroup]="CreateProjectForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="inputName">Nom</label>
      <input [ngClass]="{'is-invalid': (CreateProjectForm.controls['name'].invalid && CreateProjectForm.controls['name'].touched)}"
        formControlName="name" type="text" class="form-control" id="inputName" placeholder="Nom du projet" maxlength="50">
      <div class="invalid-feedback">
        Veuillez renseigner le nom du projet.
      </div>
    </div>

    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input [ngClass]="{'is-invalid': (CreateProjectForm.controls['description'].invalid && CreateProjectForm.controls['description'].touched)}"
        formControlName="description" type="text" class="form-control" id="inputDescription" placeholder="Description">
      <div class="invalid-feedback">
        Veuillez renseigner la description du projet.
      </div>
    </div>

    <div class="form-group">
      <label for="inputGit">Git</label>
      <input [ngClass]="{'is-invalid': (CreateProjectForm.controls['git'].invalid && CreateProjectForm.controls['git'].touched)}"
        formControlName="git" type="text" class="form-control" id="inputgit" placeholder="Git">
      <div class="invalid-feedback">
        Veuillez renseigner le git du projet.
      </div>
    </div>
    <button [disabled]="CreateProjectForm.invalid" type="submit" class="btn btn-primary" id="createProjectBtn">Créer un projet</button>
  </form>
</div>
