<div *ngIf="message !== ''" [ngClass]="(isError)?'alert-danger':'alert-success'" class="alert"
role="alert">
{{ message }}
</div>
<ng-container *ngIf="projects == null; else blockElse">
    <div class="alert alert-danger" role="alert">
        <strong>Aucun projet n'est disponible en ce moment </strong>
      </div>
  </ng-container>
  <ng-template #blockElse>
      <div id="container">
     <h1>Participer à un projet</h1>
      <form [formGroup]="ParticipateForm" (ngSubmit)="submitForm()">
          <div class="form-group form-control-sm">
              <label for="inputProject">Projet</label>
              <select class="form-control form-control-sm" id="inputProject" formControlName="projet">
                <option selected *ngFor="let project of projects" [ngValue]="project.project_id">{{project.name}}</option>
              </select>
            </div>
            <div class="form-group">
                <label for="Développeur">Status</label>
                <input type="text" disabled class="form-control form-control-sm" id="Développeur" placeholder="Développeur">
              </div>
            <button [disabled]="ParticipateForm.invalid" type="submit" class="btn btn-primary" id="participate">Participer au projet</button>
       </form>
  </div>
  </ng-template>
