<div *ngIf="message !== ''" [ngClass]="(isError)?'alert-danger':'alert-success'" class="alert"
role="alert">
{{ message }}
</div>
<div id="container">
    <h1>Créer une nouvelle issue</h1>
     <form [formGroup]="AddIssueForm" (ngSubmit)="submitForm()">
              <div class="form-group">
                  <label for="story">Story</label>
                  <textarea [ngClass]="{'is-invalid': (AddIssueForm.controls['story'].invalid && AddIssueForm.controls['story'].touched)}"
                         formControlName="story" type="text" class="form-control" id="story" placeholder="story" rows="2" maxlength="50"></textarea>
                         <div class="invalid-feedback">
                          <ng-container *ngIf="AddIssueForm.controls['story'].hasError('required')">Veuillez renseigner la story</ng-container>
                          <ng-container *ngIf="AddIssueForm.controls['story'].hasError('minlength')">Story trop courte (minimum 10 caractères).</ng-container>
                        </div>
                </div>
              <div class="form-group">
                  <label for="priority">Priorité</label>
                  <input  formControlName="priority"  type="number" class="form-control" id="priority" value="1"  min="1">
                </div>
                <div class="form-group">
                    <label for="difficulty">Difficulté</label>
                    <input  formControlName="difficulty" type="number" class="form-control" id="difficulty" value="1"  min="1">
                  </div>
                  <div class="form-group">
                      <label for="state">Status</label>
                      <input type="text" disabled class="form-control form-control-sm" id="state" placeholder="TODO">
                    </div>
              <button [disabled]="AddIssueForm.invalid" type="submit" class="btn btn-primary" id="create">Créer Issue</button>
      </form>
 </div>
