<nav *ngIf="loggedIn; else loginTemplate" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand " routerLink="/home">DDF</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <div ngbDropdown>
        <a class="nav-link dropdown-toggle" id="projectDropdown" ngbDropdownToggle>Projets</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" routerLink="/projects"id="listeProject">Liste des projets</button>
          <button class="dropdown-item" routerLink="/addproject" id="createProject" >Créer un projet</button>
          <button class="dropdown-item" routerLink="/project/participate" id="inscriptionProject">S'inscrire à un projet</button>
        </div>
      </div>
    </li>
  </ul>
  <button class="btn btn-info mr-1 l my-sm-0" routerLink="/profile" id="profil"><i class="fa fa-user-circle" aria-hidden="true"></i>Mon Profil</button>
  <button class="btn btn-danger mr-1 1 my-sm-0" (click)="logout()" id="deconnexion"><i class="fa fa-power-off" aria-hidden="true"></i>Déconnexion</button>
</nav>

<ng-template #loginTemplate>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-auto" routerLink="/home">DDF</a>
    <button class="btn btn-primary mr-1 1 my-sm-0" routerLink="/signin" id="loginBtn"><i class="fa fa-user-o" aria-hidden="true"></i>Connexion</button>
    <button class="btn btn-success mr-1 my-sm-0" routerLink="/signup" id="registerBtn"><i class="fa fa-address-book" aria-hidden="true"></i>Nouveau compte</button>
  </nav>
</ng-template>
